<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Meme Generator</h1>
        <h2>Welcome to our meme generator!</h2>
        <form method ="post" action = "/pictures.html">
            <h3>Do you like dead memes??</h3>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <input type="text" name="question1"/>
            

            <h3>Do you like animal memes??</h3>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <input type="text" name="question2"/>
            
        
            <h3>Do you play vieogames??</h3>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <input type="text" name="question3"/>
           
        
            <h3>Do you like offensive memes??</h3>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <input type="text" name="question4"/>
            
            <input type="submit" value="Submit"/>
        </form>
        
    </body>
</html>